body {
  background-color: rgb(106, 106, 170);
}

.widget {
  height: 500px;
  width: 400px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
}

.search .display {
  display: flex;
}

.icon {
  width: 300px;
}
